*{
  padding:0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;

}

body{
  background-color: cornflowerblue;
}

.container{
  background-color: whitesmoke;
  width: 80%;
  margin: 0 auto;
  height:100%;

}
.asideDiv{
  position:relative
}

form{
  margin:0 auto;
  widows: 90%;
}