*{
  padding:0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;

}

body{
  background-color: cornflowerblue;
}

.container{
  background-color: tan;
  width: 80%;
  margin: 0 auto;
}
.asideDiv{
  position:relative
}